## **Course: Machine Learning**
##**Aim:Basic Functions of Python**
##**Name:Aryan Kalpesh Jha**

## Input /Output

In [ ]:
# Find sum of two integers
num1 = int(None ('enter first number'))
num2 = None (input('enter second number'))
sum = num1+num2
print("sum =", sum)

In [ ]:
list1 = [int(x) for x in input("enter n numbers").None (',')]
print(list1)

In [ ]:
print(10 ** 4)
print(5 % 4)
print(10 / 4)
print(10 None 4)

In python strings, lists, tuples and dictionaries are important sequence data types.Common operations: indexing and slicing

# **Lists**

**properties**: ordered, iterable, mutable, can contain multiple data types
Major difference in array and list- Array stores only one type of element

In [ ]:
# List
myList = [1, 1.1, "This is a sentence", None]
for element in myList:
    print(type(None))

In [ ]:
x = list(range(10))
print(x)
x.None ()
print(x)
x.None (5)
print(x)
x.None ()
print(x)
x.None (reverse = True)
print(x)

In [ ]:
x = list(None (0, 10, 2))
x

In [ ]:
x = list(range(10, 0, -1))
x

## **Slicing Lists**

[**start** : **stop** : **steps**]

[: stop] => slice from start till (excluding) stop index


[start :] => slice from start till end


-1 => means go backwards

<figure>
<center>
<img src='https://drive.google.com/uc?id=1CNQ1aD-mNTGTS46T9027YNzoLaY3__bF' />
<figcaption></figcaption></center>
</figure>

In [ ]:
numbers = [4, 7, 24, 11, 2]
print(numbers)
print(numbers None )
print(numbers None )
print(numbers None )
print(numbers None )
print(numbers None )
print(numbers [:4])
print(numbers[::])

In [ ]:
# Concatenation, Repeatation, and membership in lists
x=[10,20,30,40,50]
y=[100,110,120]
print(x None y)
print(x*2)
a=20
print(a None x)
print(a None  x)

In [ ]:
# Aliasing and copying list
list1 =[10,20,30,40,50]
list2 = None
print(list1, list2)
list2[2]= 25
print(list1, list2)
list3 = list1.None
list3[2] =60
print(list1, None )

**Nested Lists**

In [ ]:
# Let's make three lists
lst_1 = [10, 20, 30]
lst_2 = [40, 50, 60]
lst_3 = [70, 80, 90]

# Make a list of lists
matrix = [None]
matrix

In [ ]:
# Grab first item in matrix object
matrix[0]

In [ ]:
# Grab first item of the third item in the matrix object
matrix[None][0]

List comprehension represents creation of new lists from an iterable object(like a list, set, tuple, dictionary) that satisfy a given condition.

In [ ]:
#Create a list with sqaures of integers from 1 to 10
# without list comprehension
squares =[]
for x in range(1,11):
  squares.append(x**2)
print(squares)
# With list comprehension
squares_list = [None]
print(squares_list)
# list compreshension consist of square braces consisting of expression for loop and then zero or more for loops can be written
even_squares = [None]
print(even_squares)

# **Tuples**
Difference between tuples and list. Tuples are immutable

In [ ]:
# Create a tuple
t = (10, 20, 30)
len(t)

In [ ]:
t.None (25)

In [ ]:
print(t[-1])
print(t.index(30))
print(t.count(10))

# Strings

In [ ]:
string = 'Python is fun!'
print(string[0])
print(len(string))
print(string.None)

In [ ]:
# Print "end", default end = '\n'
print("Python" , end = None)
print("Workshop")

In [ ]:
# Add two strings
s1 = 'Mumbai'
s2 = 'Pune'
None

In [ ]:
# Reverse strings
s = 'Mumbai to Pune'
None

# **Dictionaries**

**properties**: unordered, iterable, mutable, can contain multiple data types

- made of key-value pairs

- keys must be unique, and can be strings, numbers, or tuples

- values can be any type

In [ ]:
my_dict = {'key1':123, 'key2':[12, 23, 33], 'key3':['item0', 'item1', 'item2']}
my_dict

In [ ]:
my_dict[None]

In [ ]:
my_dict['key3']

In [ ]:
my_dict[None][0]

In [ ]:
my_dict[None][0].upper()

In [ ]:
# Change the value
my_dict['key1'] = None
my_dict['key1']

**Dictionary methods**

In [ ]:
d = {'key1':1, 'key2':2, 'key3':3}
d.None

In [ ]:
d.None

In [ ]:
# Method to return tuples of all items
d.None

# Converting Lists into dictionary

In [ ]:
countries = ["USA", "India", "Germany"]
cities = ['Washington', 'NewDelhi', 'Berlin']

In [ ]:
z=None
d=None
print(d)

## **Dictionary Comprehension**

In [ ]:
a = { n: None  for n in range(7) } # note curly brackets
print(a)

# **Python Utilities**

## **Exercise on Lists:**
1. Create a list of the first names of your family members. (>= 4 names)
2. Print the name of the last person in the list.
3. Print the length of the name of the first person in the list.
4. Change one of the names from their real name to their nickname.
5. Append a new person to the list.
6. Sort the list in reverse alphabetical order. (Use ```sorted```)
7. Sort the list by the length of the names (shortest to longest). (Use ```sorted```)

## **String utilities**

In [ ]:
s = 'hello world'
s.capitalize()

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.count('o')

In [ ]:
s.find('o') # returns the starting index position of the first occurence

In [ ]:
s = '9feetdown'
s.isalnum()

* `isalpha()` will return True if all characters in s are alphabetic

In [ ]:
s.isalpha()

* `islower()` will return True if all cased characters in s are lowercase and there is at least one cased character in s, False otherwise.

In [ ]:
s.islower()

* `isspace()` will return True if all characters in s are whitespace.

In [ ]:
s.isspace()

* We can use `split()` to split the string at a certain element and return a list of the results.

* We can use `partition()` to return a tuple that includes the first occurrence of the separator sandwiched between the first half and the end half.

In [ ]:
s = 'hello world'

s.None ('e')

In [ ]:
s.None('l')